
@media all and (max-width: 768px)
{
    .infos{
        position: absolute !important;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        overflow: hidden;
        width: 1px;
    }
    .foot{
        position : absolute !important;
        display: flex;
        top: 55rem;
    }
}
/* Globales************** */
body{
    width: 100%;
}
html{
    width:inherit;
}
.entete{
    display: grid;
    align-items: center;
    grid-column: 1/8;
}
.entete img{
    grid-column-start: 0;
}
.entete h2{
    grid-column-end: 8;
}
.promotion{
    height:80%;
    width:96%;
}
.menu{
    
    width:96%;
    background-color:black;
}
ul,li{
    display: inline-block;
}

td{
    width: 70px;
}


.parent{
    width: 100%;
    display: flex;
}
.presentation{
    display: inline-block;
    width:80%;
    height:5rem;    
}
.infos{
    display: inline-block;
    width:15.5%;
    height:30rem;
    background-color:gray;
    margin: .5rem;
}

li a{
    color:white;
}

/* tableau************** */
table {
    margin-left: 2rem;
    border-collapse: collapse;
}

table th, td{
    min-width:14.5rem; 
}
thead tr{
    background-color:rgb(229, 233, 241);
    height: 4rem    
}

tbody tr{    
    height:8rem;    
}

.sml{
    min-width: 5rem;
}

.yellow{
    background-color:rgb(241, 233, 219);
}

.foot{
    display: flex;
    align-items: center;
    background-color: black;
    width: 100%;
    height:3rem;
    padding-left:1rem;
}
.foot a{
    color:  white;
    display: inline;
    margin-left:.5rem;
}
/* formulaire *******/

.out{
    margin-left: 21rem;;
}

fieldset{
    display:grid;
    min-width:500px;
    max-width: 800px;
    margin: 0 auto;
}
form {
    display:grid; 
}
fieldset input {
  background: #fff;
  border: 1px solid #9c9c9c;
}
form button {
  background: lightgrey;
  padding: 0.7em;
  width: 10rem;
  border: 0;
}
form button:hover {
  background: gold;
}

label {
  text-align: left;
  margin-left: 3rem;

}

input, textarea,select {
  padding: 0.2rem;
  margin-bottom: 0.5rem;
  min-width:20rem;
}
input:focus {
  outline: 3px solid gold;
}

@media (min-width: 300px) {
    fieldset {
      grid-template-columns: 150px 1fr 1fr 2fr 2fr 1fr;
      grid-gap: 16px;
    }
  
    label {
      grid-column: 1 / 2;
    }
  
    input,
    select,
    textarea,
    button {
      grid-column: 3 / 4;
    }
    .sexe{
        grid-column: 1 / 3;        
    }

  }